{% extends 'admin_base.html' %}
{% load static%}

{% block body %}
<div class="main-content">
    <h1 class="mb-4">Dashboard</h1>

    <div class="table-container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="card" style="width: 15rem;">
                <div class="card-body">
                    
                    <h5 class="card-title">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-building" viewBox="0 0 16 16">
                            <path d="M4 2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM4 5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zM7.5 5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zM4.5 8a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z"/>
                            <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1zm11 0H3v14h3v-2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5V15h3z"/>
                          </svg> Total Shows</h5>
                    <h3 class="card-subtitle mb-2 mx-4 text-body-secondary">{{shows_count}}</h3>
                    
                </div>
            </div>
            
            <div class="card" style="width: 15rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-rolodex" viewBox="0 0 16 16">
                            <path d="M8 9.05a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
                            <path d="M1 1a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h.5a.5.5 0 0 0 .5-.5.5.5 0 0 1 1 0 .5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5.5.5 0 0 1 1 0 .5.5 0 0 0 .5.5h.5a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H6.707L6 1.293A1 1 0 0 0 5.293 1zm0 1h4.293L6 2.707A1 1 0 0 0 6.707 3H15v10h-.085a1.5 1.5 0 0 0-2.4-.63C11.885 11.223 10.554 10 8 10c-2.555 0-3.886 1.224-4.514 2.37a1.5 1.5 0 0 0-2.4.63H1z"/>
                          </svg> Total Users</h5>
                          <h3 class="card-subtitle mb-2 mx-4 text-body-secondary">{{users_count}}</h3>
                    
                </div>
            </div>

            <div class="card" style="width: 15rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ticket-detailed-fill" viewBox="0 0 16 16">
                            <path d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6zm4 1a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5m0 5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5M4 8a1 1 0 0 0 1 1h6a1 1 0 1 0 0-2H5a1 1 0 0 0-1 1"/>
                          </svg> Total Tickets</h5>
                          <h3 class="card-subtitle mb-2 mx-4 text-body-secondary">{{tickets_count}}</h3>
                </div>
            </div>

            <div class="card" style="width: 15rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                            <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4z"/>
                          </svg> Total Revenue</h5>
                          <h3 class="card-subtitle mb-2 mx-4 text-body-secondary">{{revenue}} 
                            <span style="font-size: 1.3rem;">Rs.</span></h3>
                          
                </div>
            </div>
        </div>

        
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card my-4" style="width: 15rem;">
                    <div class="card-body">            
                        <h5 class="card-title">Most Booked Shows</h5>
                        {% for show in most_booked_show %}
                            <div class="row">
                                <div class="col-9">
                                    <h6 title="{{show.movie__name}}" class="card-subtitle mb-2  text-body-secondary">
                                        {{show.movie__name}}
                                    </h6>
                                </div>
                                <div class="col-3">
                                    <h6 class="card-subtitle mb-2  text-body-secondary">{{show.total_bookings}}</h6>
                                </div>
                            </div>
                        {% endfor %}
                </div>
            </div>
            </div>

            <div class="col">
                <div class="card my-4" style="width: 15rem;">
                    <div class="card-body">            
                        <h5 class="card-title">Most Booked Theatres</h5>
                        {% for theatre in most_booked_theatres %}
                            <div class="row">
                                <div class="col-9">
                                    <h6 title="{{theatre.movie__name}}" class="card-subtitle mb-2  text-body-secondary">
                                        {{theatre.show__theatre__name}}
                                    </h6>
                                </div>
                                <div class="col-3">
                                    <h6 class="card-subtitle mb-2  text-body-secondary">{{theatre.total_bookings}}</h6>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card my-4" style="width: 15rem;">
                    <div class="card-body">            
                        <h5 class="card-title">Active Users</h5>
                        {% for user in active_users %}
                            <div class="row">
                                <div class="col">
                                    <h6 title="{{user.user__email}}" class="card-subtitle mb-2  text-body-secondary">
                                        {{user.user__email}}
                                    </h6>
                                </div>
                                
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        

        
    </div>
</div>




{% endblock %}