{% extends 'base.html' %}

{% block title %}
    All Movies
{% endblock %}

{% block body%}
{% load static %}
<div class="container my-5">

    <div class="mb-3 row">
      <h2>Movies</h2>
      <form action="{% url 'all_movies' %}" method="GET" class="d-flex">
        <div class="col">
          <input type="text" class="form-control" name="movie" placeholder="Search Movie">
        </div>
        <div class="col-auto">
          <input type="submit" value="Search" class="btn btn-primary"/>
        </div>
      </form>
    </div>

    <hr/>

    <div class="row w-100">
      {% for movie in search_results %}
        <div class="col-4">
          <div class="card" style="width: 18rem;">
            <img src="{% static 'captain_america_2.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h3>{{movie.name}}</h3>
              <p class="card-text">{{movie.description|truncatechars:35}}</p>
              <a href="{% url 'movie_detail' movie.id %}" class="btn btn-primary">Book Now</a>
            </div>
          </div>
        </div>
        {% empty %}
          <div class="col-4">
            <h5>No Upcoming to show</h5>
          </div>
      {% endfor %}
            
    </div>

{% endblock %}