{% extends 'base.html'%}

{% block title %}
    Home
{% endblock %}

{% block body %}
{% load static %}
<div>
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner" style="height: 600px; ">
          <div class="carousel-item active">
            <img src="{% static 'endgame5.jpg' %}" class="d-block w-100" alt="endgame">
          </div>
          <div class="carousel-item">
            <img src="{% static 'endgame5.jpg' %}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'endgame5.jpg' %}" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>

<div class="container my-5">
  <div class="row w-100">
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'captain_america_2.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Book Now</a>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'captain_america_2.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Book Now</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'captain_america_2.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Book Now</a>
        </div>
      </div>
    </div>
  </div>
    

      

      
</div>

{% endblock %}